
body {
    background: linear-gradient(rgba(6, 69, 88, 0.829), rgba(61, 2, 12, 0.185));
}
#indexContent {
    display: flex ;
    flex-direction: column ;
    flex-wrap: wrap ;
    justify-content: top ;
    align-items: center ;
    margin-top: 25px;
}
#titabout {
    font-size: 2em;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 1.7em;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

p {
    width: auto;
    padding: 10px;
    color: rgb(0, 0, 0);
}

article {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 2% 5%;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    border-style: solid;
}
section {
    width: 90%;
    margin-right: 20px;
}
#fotoCarne {
    width: 150px;
    border-radius: 50%;
}

.iconoabout {
    width: 100px;
    height: auto;
}

hr {
    width: 800px;
}