
body {
    background: linear-gradient(rgba(6, 69, 88, 0.829), rgba(61, 2, 12, 0.185));
}
#indexContent {
    display: flex ;
    flex-direction: column ;
    flex-wrap: wrap ;
    justify-content: top ;
    align-items: center ;
    margin-top: 25px;
}

h1 {
    font-weight: normal;
    color: rgb(255, 255, 255);
}

p {
    width: auto;
    padding: 10px;
    color: rgb(255, 255, 255);
}

article {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 5% 5%;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    border-style: solid;
  }

#fotoCarne {
    width: 6vw;
    border-radius: 50%;
}

hr {
    width: 800px;
}