
/* Borrado valores predefinidos */

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent; 
    font-family: 'Poppins', sans-serif;
}

/* Body */

body {
    margin: 20px auto;
    display: grid;
    grid-template-rows: 90px auto 120px;
    max-width: 1100px;
    min-height: 100vh;
    background: whitesmoke;
    
    background: linear-gradient(rgba(6, 69, 88, 0.829), rgba(61, 2, 12, 0.185)), url("../img/dd.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

  
/* Header */

header {
    margin: 10px auto;
    font-size: 1.4em;
    padding: 20px;
    width: 80%;
    border-style: solid;
    border-top: rgba(0, 0, 0, 0.027);
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 10px #fff;
    background-color: rgba(0, 0, 0, 0.250);
}
header img {
    width: 100px;
    border-radius: 100%;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}
li > a {
    text-decoration: none;
    color: white;
}
li:hover {
    animation: pulsate-bck 0.1s ease-out 0.5 both;
}
#link {
    margin-right: 35px;
}
#hr1 {
    transform: rotate(90deg);
    width: 10px;
}

/* Main */

main {
    margin: 0px auto;
    width: 95%;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    width: 90%;
    margin: 2% auto;
}

hr {
    border-color: white;
}
p {
    font-size: 1.2em;
}
#mainHr {
    width: 30vw;
}

/* Footer */

footer {
    margin: 0px auto;
    width: 900px;
    font-size: 1.4em;
    user-select: none;
}
#idiomas {
    cursor: pointer;
}

/* Icons */

#icons {
    text-align: center;
    align-self: stretch;
}
#icons *:hover {
    animation: pulsate-bck 0.1s ease-out 0.5 both;
}
#icons i {
    padding: 4px;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px 10px;
    color: white;
    font-size: 2em;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: rgb(189, 184, 184); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(148, 179, 123); 
  }

/* Media query */

@media screen and (max-width:65em) {

}
