
/* Borrado valores predefinidos */

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent; }

/* Body */

body {
    font-family: sans-serif;
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    max-width: 1100px;
    min-height: 100vh;
    background: whitesmoke;
    
    background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.2)), url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

  
/* Header */

header {
    max-height: 200px;
    font-size: 1.7em;
    margin-bottom: 10px;
    padding: 20px;
    width: 80%;
    border-style: solid;
    border-top: rgba(0, 0, 0, 0.027);
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 10px #fff;
    font-family: monospace;
}
header img {
    width: 100px;
    border-radius: 100%;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
#link {
    margin-right: 35px;
}

/* Main */

main {
    flex-grow:1;
    width: 95%;
    overflow-x: hidden;
    overflow-y: auto;
}
article {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 5% ;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
}

section {
    width: 90%;
    margin: 2% auto;
}

hr {
    border-color: white;
}
#hr1{
    height: 10px;
}
p {
    font-size: 1.2em;
    width: 370px;
}

/* Footer */

footer {
    max-height: 200px;
    width: 900px;
    margin-bottom: 50px;
    font-size: 1.4em;
}
.rect2 {
    background-color:rgb(212, 148, 87);
    width: 140px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
}
.rect2:hover {
    width: 150px;
}

/* Icons */

#icons {
    text-align: center;
    align-self: stretch;
}
#icons a {
    padding: 4px;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px 10px;
    color: white;
    font-size: 2em;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: rgb(189, 184, 184); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

    /* Media query */
@media screen and (max-width:65em) {
    body {
        width: 1%;
    }
    header {
        font-size: 1.2em;
    }
}
