
/* Limpiamos cualquier valor predefinido */

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent; }

/* Body */

body {
    margin: 30px auto;
    max-width: 1024px;
    min-height: 1000px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(225,241,242,1) 95%, rgba(223,240,241,1) 100%);
    
    background: url("../img/carne4.2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

/* Header */

header {
    margin: auto;
    font-size: 1.6em;
    padding: 20px;
    width: 80%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.027);
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
}
header img {
    width: 100px;
    border-radius: 100%;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
#link {
    margin-right: 35px;
}
/* Section */

section {
    width: 100%;
    margin: 2% auto;
}
article {
    display: flex;
    justify-content: space-around;
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.685);
}
hr {
    border-color: white;
    background-color: white;
    height: 0.1px;
}
#hr1 {
    transform: rotate(90deg);
}
p {
    font-size: 1.2em;
    width: 320px;
}
#icons {
    text-align: left;
    text-align: center;
}
#icons a {
    padding: 4px;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px 10px;
    color: white;
    font-size: 2em;
}
/* Footer */

footer {
    
    width: 900px;
    position: fixed;
    bottom: 0;
    
    margin: 40px;
    padding: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.027);
    border-radius: 20px;
    box-shadow: 0px 0px 5px #fff;
    font-size: 1.6em;
}
.rect2 {
    background-color:rgb(212, 148, 87);
    width: 140px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
}
.rect2:hover {
    width: 150px;
}
/* Home */ 


/* Proyects */ 

.imgProyecto {
    height: 200px;
    width: 257px;
}

.imgWrap {
    position: relative;
    height: 200px;
    width: 257px;
}
.imgDescLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: opacity .15s, visibility .2s;
  }
  
  .imgWrap:hover .imgDescLayer {
    visibility: visible;
    opacity: 1;
  }
  
  .imgDesc {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .imgWrap:hover .imgDesc {
    transform: translateY(0);
  }

  /* Media query */
@media screen and (max-width:65em) {
    body {
        width: 1%;
    }
    header {
        font-size: 1.2em;
    }
}