
#indexContent {
    display: flex ;
    flex-direction: column ;
    flex-wrap: wrap ;
    justify-content: center ;
    align-items: center ;
    margin-bottom: 30vh;
}
p {
    width: auto;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    text-shadow: black;
    font-family: 'Poppins', sans-serif;
}

#sureButton {
    margin: 10px;
    width: 380px;
    height: 47px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2em;
    color: white;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.250);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-top: rgba(0, 0, 0, 0.027);
    border-radius: 20px;
    outline: none;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 10px #fff;
}

#sureButton:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

#mainHr {
    width: 700px;
}

/* Animations */

.slide-in {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.pulsate-bck {
	-webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
	        animation: pulsate-bck 1.5s ease-in-out infinite both;
}