
#indexContent {
    display: flex ;
    flex-direction: column ;
    flex-wrap: wrap ;
    justify-content: center ;
    align-items: center ;
}
#txtIndex {
    padding-left: 30%;
}
p {

    color: rgb(255, 255, 255);
    font-size:1.8vw;
    font-family: monospace;
    width: 70%;
    border-radius: 20px;
}
button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
}
.slide-in {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}