#projectsSection {
    max-height: 13vmax;
}

.imgProyecto {
    width: 120%;
    border-radius: 10px;
}

.imgWrap {
    position: relative;
    height: 200px;
    width: 257px;
}
.imgDescLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: opacity .15s, visibility .2s;
  }
  
  .imgWrap:hover .imgDescLayer {
    visibility: visible;
    opacity: 1;
  }
  
  .imgDesc {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .imgWrap:hover .imgDesc {
    transform: translateY(0);
  }

  #projectsSection article p {
    margin: 2%;
}