
p {
  width: 370px;
}

#projectsSection {
    max-height: 13vmax;
}

.imgProyecto {
  position: relative;
}

.imgProyecto img {
    width: 120%;
    border-radius: 10px;
    transition: 0.3s;
    height: 220px;
    width: 350px;
}

.imgProyecto:hover img{
  color: black;
  filter: brightness(50%) blur(2px);
}


#iconosProyecto {
  top: 50%;
  left: 50%;
  position: absolute;
  visibility: hidden;
}

#iconosProyecto a {
  font-size: 2em;
}
.imgProyecto:hover a{
  visibility: visible;
}

#projectsSection article p {
  margin: 2%;
}

.flip-in {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}