
#projectsSection {
    max-height: 13vmax;
}

.imgProyecto {
  position: relative;
}

.imgProyecto img {
    width: 120%;
    border-radius: 10px;
    transition: 0.3s;
    height: 220px;
    width: 350px;
}

.imgProyecto:hover img{
  color: black;
  filter: brightness(50%) blur(2px);
}


#iconosProyecto {
  top: 50%;
  left: 50%;
  position: absolute;
  visibility: hidden;
}

#iconosProyecto a {
    font-size: 2em;
}
.imgProyecto:hover a{
  visibility: visible;
}

  #projectsSection article p {
    margin: 2%;
}